{% extends 'BaseUI/BaseFacility/baseEquipment.html' %}

<!--------------- BLOCK MENU ------------->
{% block listeq %}{% url 'equipmentDisplay' facilityID %}{% endblock %}
{% block listgw %}{% url 'gatewayDisplay' facilityID %}{% endblock %}
{% block neweq %}{% url 'equipmentNew' facilityID %}{% endblock %}
{% block newgw %}{% url 'gwNew' facilityID %}{% endblock %}
{% block backfaci %}{% url 'facilitiesDisplay' siteID %}{% endblock %}
<!--------------- END BLOCK -------------->

{% block data-content %}
    <form method="post">
    {% csrf_token %}
        <div style="text-align: center">
            <caption><b style="font-size: 22px;color: #444444">List of Gateways</b></caption>
            <br><br>
            <table class="table" id="mytable">
                <thead>
                    <tr>
                        <th width="100px" style="text-align: center"><input type="checkbox" id="chkHeader"></th>
                        <th width="200px" style="text-align: center"><i class="fa fa-fax"></i>&ensp;Gateway ID</th>
                        <th width="200px" style="text-align: center"><i class="fa fa-tag"></i>&ensp;Gateway Name</th>
                        <th width="200px" style="text-align: center"><i class="fa fa-bar-chart-o"></i>&ensp;Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in obj %}
                    <tr>
                        <td style="text-align: center"><input type="checkbox" name="{{ a.device_id }}"></td>
                        <td style="text-align: center"><a href="{% url 'sensorDisplay' a.device_id %}">{{ a.device_id }}</a></td>
                        <td style="text-align: center">{{ a.device_name }}</td>
                        <td align="center">{{a.device_desc}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

              {#          Pagination div  #}
            <!-- <div>
                {% if obj.has_other_pages %}
              <ul class="pagination">
                {% if obj.has_previous %}
                  <li><a href="?page={{ obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in obj.paginator.page_range %}
                  {% if obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if obj.has_next %}
                  <li><a href="?page={{ obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
            </div>
            <div>
              {% if obj1.has_other_pages %}
            <ul class="pagination">
              {% if obj1.has_previous %}
                <li><a href="?page={{ obj1.previous_page_number }}">&laquo;</a></li>
              {% else %}
                <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              {% for i in obj1.paginator.page_range %}
                {% if obj1.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if obj1.has_next %}
                <li><a href="?page={{ obj.next_page_number }}">&raquo;</a></li>
              {% else %}
                <li class="disabled"><span>&raquo;</span></li>
              {% endif %}
            </ul>
          {% endif %}
          </div> -->


{#            tool div #}
            <br>
            <div>
                <button type="submit" name="_edit" class="btn btn-primary"><i class="fa fa-pencil">&emsp;Edit Selected</i></button>
                <button type="submit" class="btn btn-warning" id="sub" onclick="Sub()"><i class="fa fa-trash-o">&emsp;Delete Selected</i></button>
            </div>

        </div>
    </form>
{% endblock %}