{% extends 'BaseUI/BaseFacility/baseBusiness.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Sensor{% endblock %}

{% block vertical %}
    <div class="vertical-menu">
        <a class="active">Sensor Management</a>
        <a href="{% block listsensor %}{% endblock %}"><i class="fa fa-list">&emsp;List of Sensors</i></a>
        <a href="{% block newsensor %}{% endblock %}"><i class="fa fa-cog">&emsp;New Sensor</i></a>
        <a href="{% block backgw %}{% endblock %}"><i class="fa fa-arrow-left">&emsp;Back to Gateway</i></a>
    </div>
{% endblock %}